<div class="container-fluid page">
	<div class="d-flex page__box p-3">
		<h2>Dashboard</h2>
	</div>
	<div class="page__content shadow p-3 position-relative">
		<div class="page__content-data">
			<div class="dashboard">
				<div class="container ms-0">
					<div class="row">
						<div class="col">
							<div class="main-header mt-2">
								<img src="../../assets/images/dashboard-car.png" alt="car">
							</div>
							<div class="card loan-card">
								<div class="card-body">
									<h5 class="card-title">
										Do you want to Purchase Car?
									</h5>
									<a class="btn btn-light rounded-pill" href="#">Apply Now</a>
								</div>
							</div>
						</div>
					</div>
					<div class="usedCar">
						<div class="d-flex justify-content-between">
							<div class="card">
								<img src="../../assets/images/cars_thumb.png" alt="car">
								<div class="card-body">
									<div class="card-title">New & Used Cars</div>
									<p>Starting From</p>
									<strong>$800 &#8726; <span>mo</span></strong><br>
									<a class="btn btn-sm btn-dark rounded-pill mt-3" href="#">
										Go Somewhere
									</a>
								</div>
							</div>
							<div class="card">
								<img src="../../assets/images/loan_thumb.png" alt="car">
								<div class="card-body">
									<div class="card-title">New & Used Cars</div>
									<p>Starting From</p>
									<strong>$800 &#8726; <span>mo</span></strong><br>
									<a class="btn btn-sm btn-dark rounded-pill mt-3" href="#">
										Go Somewhere
									</a>
								</div>
							</div>
							<div class="card">
								<img src="../../assets/images/calculator_thumb.png" alt="car">
								<div class="card-body">
									<div class="card-title">New & Used Cars</div>
									<p>Starting From</p>
									<strong>$800 &#8726; <span>mo</span></strong><br>
									<a class="btn btn-sm btn-dark rounded-pill mt-3" href="#">
										Go Somewhere
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>