<mat-nav-list>
	<div class="logo py-3">
		<img src="../../assets/images/logo.png" alt="Blog App Logo" />
	</div>
	<mat-divider></mat-divider>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
		<mat-icon>dashboard</mat-icon> Dashboard
	</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
		<mat-icon>home</mat-icon> Home
	</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/blogs">
		<mat-icon>edit</mat-icon> Blogs
	</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="/aboutus">
		<mat-icon>edit</mat-icon> About Us
	</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="user/list-user">
		<mat-icon>edit</mat-icon> User
	</a>
	<a mat-list-item routerLinkActive="list-item-active" routerLink="training/databindin">
		<mat-icon>edit</mat-icon> Data binding
	</a>

	<a mat-list-item routerLinkActive="list-item-active" routerLink="training/dircetive">
		<mat-icon>edit</mat-icon> Directive
	</a>

	<a mat-list-item routerLinkActive="list-item-active" routerLink="training/dircetiveexample">
		<mat-icon>edit</mat-icon> Directive example
	</a>
</mat-nav-list>